.contact-section-container {
	padding: 4rem 0;
}

.contacts-section {
	background-color: #fff !important;
}

.card {
	color: #fff;
	background-color: rgb(7, 3, 34);
	font-family: RegularCaslon;
	border: 3px solid #b5a663 !important;
}

.card h5 {
	margin: 20px 0;
}

.flagship-store-section {
	text-align: left;
}

.flagship-store-section a {
	text-decoration: none;
	color: #b5a663;
}

.col-md-8 {
	padding: 3rem 0 !important;
}

.mapouter {
	position: relative;
	text-align: right;
	width: 100%;
	height: 400px;
}
.gmap_canvas {
	overflow: hidden;
	background: none !important;
	width: 100%;
	height: 600px;
}
.gmap_iframe {
	height: 513px !important;
}

@media screen and (max-width: 900px) {
	.col-md-8 {
		padding: 3rem 1rem !important;
	}
}