.button-comp-container {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px 0;
}

.button-comp-content Button {
	color: #fbbc93;
	background: transparent;
	font-family: 'WilliamsCaslonText';
	padding: 0.8rem 1.5rem;
	border-radius: 4px;
	border: 1px solid #fbbc93;
}
