.container-fluid {
	background: #040e28 !important;
	color: white;
}

.footer-h5 {
	color: white;
	text-transform: uppercase;
	font-family: 'RegularCaslon';
}

.nav .nav-item a {
	font-family: 'SemiBoldCaslon';
}
