.watch-section-container {
	height: '100vh';
	width: '100%';
}

.container-top {
	margin-top: 4rem;
}

.card {
	padding: 2rem;
	text-align: center;
  margin: 2rem 0;
}

.card img{
  object-fit: cover;
}
