* {
	box-sizing: border-box;
	list-style: none;
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: 'BoldCaslon'; /*Can be any text*/
	src: local('ACaslonPro-Bold'),
		url('./fonts/ACaslonPro-Bold.otf') format('truetype');
}

@font-face {
	font-family: 'BoldItalicCaslon'; /*Can be any text*/
	src: local('ACaslonPro-BoldItalic'),
		url('./fonts/ACaslonPro-BoldItalic.otf') format('truetype');
}

@font-face {
	font-family: 'ItalicCaslon'; /*Can be any text*/
	src: local('ACaslonPro-Italic'),
		url('./fonts/ACaslonPro-Italic.otf') format('truetype');
}

@font-face {
	font-family: 'RegularCaslon'; /*Can be any text*/
	src: local('ACaslonPro-Regular'),
		url('./fonts/ACaslonPro-Regular.otf') format('truetype');
}

@font-face {
	font-family: 'SemiBoldCaslon'; /*Can be any text*/
	src: local('ACaslonPro-Semibold'),
		url('./fonts/ACaslonPro-Semibold.otf') format('truetype');
}

.App{
	transition: all ease-in-out 300ms;
	animation: animateapp 450ms linear;
}

@keyframes animateapp {
  0%   {opacity: 0.3;}
  100% {opacity: 1;}
}

::-webkit-scrollbar {
	display: none;
}

ul {
	list-style: none;
	margin: 0;
}
