.timeline-container {
  /* position: relative; */
  width: 100%;
  /* left: calc(-50vw + 50%); */
  background-color: #fff;
  padding: 60px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeline-content {
  width: 90%;
  height: 30rem;
  max-width: 1000px;
}

.timeline-grid {
  display: grid;
  grid-template-columns: 100px 1fr;
}

.year-list-container {
  height: 30rem;
  overflow-y: scroll;
  padding-left: 10px;
}

.year-list-container::-webkit-scrollbar {
  width: 8px;
}

.year-list-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.year-list-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.year-list-container > li {
  font-size: 1rem;
  height: 3.75rem;
  line-height: 3.75rem;
  position: relative;
  cursor: pointer;
  color: #383838;
  font-family: RegularCaslon;
  padding: 5px;
  overflow: hidden;
  transition: all ease-in-out 300ms;
}

.year-list-container > li::before {
  content: "";
  position: absolute;
  display: block;
  left: 1em;
  z-index: 0;
  opacity: 0.5;
  border-radius: 50%;
  background-color: #ddcb78;
  bottom: 1.25rem;
  width: 3.375rem;
  height: 3.375rem;
  transition: all ease-in-out 300ms;
  transform: scale(0);
}

.year-list-container > li.active::before {
  transform: scale(1);
}

.year-list-container > li.active {
  font-size: 1.5rem;
  border-color: #b5a663 !important;
  outline: 0;
  box-shadow: 0 0 3px 2px #ddcb78 !important;
}

.timeline-obj-container {
  display: flex;
  font-family: RegularCalson;
  color: #383838;
}

.timeline-obj-text-part {
  width: 50%;
  padding: 10px 30px;
}

.timeline-obj-text-part > p {
  margin-top: 1.5rem;
  font-size: 15px;
  line-height: 1.5rem;
  font-family: "RegularCaslon";
  letter-spacing: 0.3px;
  text-align: justify;
}

.timeline-obj-img-part {
  width: 50%;
}

.timeline-obj-img-part > img {
  width: 100%;
}

.timeline-obj-year {
  color: #b5a663;
  font-family: SemiBoldCaslon;
  font-size: 3rem;
}

@media screen and (max-width: 900px) {
  .timeline-grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  .timeline-content {
    height: 26rem;
  }

  .year-list-container {
    display: flex;
    height: 5rem;
    width: max-content;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-left: 10px;
  }
  .year-list-container > li {
    font-size: 1rem;
    height: 3.75rem;
    line-height: 3.75rem;
    position: relative;
    cursor: pointer;
    color: #383838;
    font-family: RegularCaslon;
    padding: 5px 10px;
    margin: 0px 5px;
    overflow: hidden;
    transition: all ease-in-out 300ms;
  }
  .timeline-obj-text-part {
    width: 40%;
    padding: 10px 30px;
    margin: auto;
  }
  .yr-ul-container {
    overflow-x: scroll;
    margin:auto;
  }
  .timeline-obj-year {
    font-size: 1.5rem;
  }
  .timeline-obj-img-part {
    width: 40%;
    margin: auto;
  }
  .timeline-obj-heading {
    font-size: 1.2rem;
    font-family: "RegularCaslon";
  }
  .timeline-obj-text-part > p {
    margin-top: 0.8rem;
    font-size: 14px;
    line-height: 1.2rem;
    font-family: "RegularCaslon";
    letter-spacing: 0.3px;
    text-align: justify;
  }
}

@media screen and (max-width: 576px) {
  .timeline-content {
    height: 40rem;
  }
  .timeline-obj-container {
    display: flex;
    flex-direction: column;
  }

  .year-list-container {
    display: flex;
    height: 5rem;
    width: max-content;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-left: 10px;
  }
  .year-list-container > li {
    font-size: 1rem;
    height: 3.75rem;
    line-height: 3.75rem;
    position: relative;
    cursor: pointer;
    color: #383838;
    font-family: RegularCaslon;
    padding: 5px 10px;
    margin: 0px 5px;
    overflow: hidden;
    transition: all ease-in-out 300ms;
  }
  .timeline-obj-text-part {
    width: 100%;
    padding: 10px 30px;
    margin: auto;
  }
  .yr-ul-container {
    overflow-x: scroll;
    width: 100%;
  }
  .timeline-obj-img-part {
    width: 100%;
    margin: auto;
  }
}
